APP_ENV="dev"
APP_CONFIG_PATH="./configs/local.yml"

POSTGRES_HOST="posted-postgres"
POSTGRES_PORT="5432"
POSTGRES_DBNAME="posted"
POSTGRES_USER="chishkin"
POSTGRES_PASSWORD="1111"

REDIS_HOST="posted-redis"
REDIS_PORT="6379"